// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#container{
  float: center;
}
#name{
  float: center;
  width: 350px;
  background: #eee;
}

#specification{
  float: right;
  // left: 0px;
  width: 600px;
  margin: 7px;
}

#image{
  width: 450px;
}